.scenario-card {
    min-width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    margin-right: 20px;
}

.scenario-card:first-child {
    margin-left: 20px;
}

.main--cards .scenario-card {
    min-height: 120px;
}

@media (min-width: 1024px) {
    .scenario-card:first-child {
        margin-left: 0;
    }
    .selected .scenario-card{
        margin-top: 20px;
    }

    .main .scenario-card {
        margin-top: 20px;
        margin-right: 0;
    }
}