.popup-container {
    min-width: 100%;
    min-height: 100%;
    top: 0;
    position: absolute;
    background: rgba(51,51,51,0.50);
    display: flex;
    flex-direction: column;
}
.popup-buttons {
    display: flex;
    flex-direction: column;
}

.popup-buttons > button {
    margin: 20px;
    border-radius: 20px;
    height: 60px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.popup-apply {
    background-color: #FFD93E;
}

.popup-close {
    background-color: white;
} 

.popup-thermostat {
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    top: 0;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thermostat {
    flex-grow: 1;
}

#inputCircle {
    border-radius: 50%;
	height: 180px;
	width: 180px;
	position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
}

#controller {
    width: 36px;
    height: 160px;
	display:block;
	z-index: 2;
	position: absolute; 
	top: 0%;
	left: 50%;	
	border: solid 1px red;
}

#knob {
    width: 36px;
	position: absolute;
	height: 36px; 
	background: red; 
	border-radius: 50%;
}
